<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="StorageBox.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="StorageBox.Properties.Settings.StorageBoxDBConnectionString"
      connectionString="Data Source=DESKTOP-V2912UT\SQLEXPRESS;Initial Catalog=StorageBoxDB;Persist Security Info=True;User ID=SBUser;Password=P@ssw0rd"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <userSettings>
    <StorageBox.Properties.Settings>
      <setting name="PLCComPort" serializeAs="String">
        <value>COM6</value>
      </setting>
      <setting name="ServiceEmail" serializeAs="String">
        <value />
      </setting>
      <setting name="EmailPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="SMTPServer" serializeAs="String">
        <value />
      </setting>
      <setting name="RecipientEmail" serializeAs="String">
        <value />
      </setting>
      <setting name="Demo" serializeAs="String">
        <value>True</value>
      </setting>
    </StorageBox.Properties.Settings>
  </userSettings>
</configuration>